body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: lightgray;
    color: #666;
}

.heading {
    font-weight: 900;
    color: red;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results {
    border: 1px solid black;
    width: 75%;
    margin: auto;
}